---
user_agent: "Mirror YouTube videos to LiveLeak by u/mishapenkov v 2.0\nURL: https://github.com/mpenkov/reddit-liveleak-bot"
dbpath: sqlite:////Users/misha/git/reddit-liveleak-bot/db.sqlite3
videopath: /path/to/videos/subdir
liveleak:
    username: your_username
    password: your_password
reddit:
    username: your_username
    password: your_password
hold_hours: 72                          # The number of hours to hold videos before purging
subreddits:
    UkrainianConflict:
        liveleak_category: Ukraine      # The LiveLeak category to use for reposted videos
limit: 100                              # The number of submissions to fetch at any one time
google_developer_key: your_key_here     # Get it from https://console.developers.google.com
